{% extends 'layout.html' %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% block content %}
<div class="row justify-content-center">
    <div class="card w-50">

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {% include 'forum/ticket_card.html' with ticket=ticket with_edit=False %}
            {% block ticket_card %}
            {% endblock %}


            {{form.headline.label}}
            {{form.headline}}
            {{form.rating.label}}
            <br/>
            {{form.rating}}  /  5
            <br/>
            {{form.body.label}}
            {{form.body}}


            {% bootstrap_button "Envoyer" button_type="submit" button_class="btn-primary m-2 mt-4" %}
        </form>
        {% endblock content %}
    </div>
</div>
