{% extends 'layout.html' %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% block content %}


{% include 'forum/ticket_card.html' with ticket=ticket with_edit=False %}
{% block ticket_card %}
{% endblock %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row justify-content-center">
        <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Voulez-vous supprimer le ticket "{{ object.title }}"?</h5>
                <p class="card-text">La suppression du ticket provoque la suppression de la critique associée.</p>
                <button type="submit" class="btn btn-light">Confirmer</button>


            </div>
        </div>
    </div>
</form>
{% endblock %}