{% extends 'base.html' %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% block content %}

<div class="row justify-content-center">
    <div class="card text-center m-0 p-0 mt-5" style="width: 35%;">
        <div class="card-header">
             <h1>Inscrivez-vous</h1>
        </div>
        <div class="user-card text-center justify-content-center">
            <form action="" method="POST" class="form">
                {% csrf_token %}
                {{form.username}}
                {{form.password1}}
                {{form.password2}}
                {% url 'login' as url_login %}
                {% bootstrap_button "Retourner" button_type="link" button_class="btn-primary m-2 mt-4" href=url_login%}
                {% bootstrap_button "S'inscrire" button_type="submit" button_class="btn-primary m-2 mt-4" %}
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
        var form_fields = document.getElementById('id_username')
        form_fields.placeholder='Nom d\'utilisateur';
        form_fields.className += ' form-control'
        form_fields= document.getElementById('id_password1')
        form_fields.placeholder='Mot de passe';
        form_fields.className += ' form-control'
        form_fields= document.getElementById('id_password2')
        form_fields.placeholder='Confirmer mot de passe';
        form_fields.className += ' form-control'
</script>
{% endblock content %}
</body>
</html>

